# These environment variables are needed to run the app locally.
# Copy these into a file named .env to have them loaded automatically.
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_HOST=mysql
REDIS_URL=redis://redis:6379/1
